*~
.*
*.o
*.tar.gz
*.d
tmp
patches
ChangeLog
releases
BUILD
RPMS
SRPMS
classic_pi
pi_stress
cyclictest
signaltest
rt-tests.spec
hwlatdetect
tags
TAGS
rt-migrate-test
ptsematest
sendme
sigwaittest
svsematest
pip
