*~
.*
*.o
*.tar.gz
*.tar
*.d
*.patch
*.a
tmp
patches
ChangeLog
releases
BUILD
RPMS
SRPMS

#
# Top-level programs
#
/classic_pi
/pi_stress
/cyclictest
/signaltest
/hwlatdetect
/rt-migrate-test
/ptsematest
/sendme
/sigwaittest
/svsematest
/pip_stress
/hackbench
/pmqtest
/cyclicdeadline
/deadline_test
/queuelat
/ssdd

rt-tests.spec
tags
TAGS
cscope.*
